@import url(fonts.css);


html, body {
    font-family: 'Roboto Regular';
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: #fff;
}

body {
    position: relative;
}

.img_shwn {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    padding: 50px 0;
}

.img_shwn > img {
    width: 60%;
    border: 1px solid #fff;
    border-radius: 10px;
}




.bd {
    animation: global-opacity 1s;
}

@keyframes global-opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}




.anim_left {
    animation: anim-left-to-right 0.75s;
}

@keyframes anim-left-to-right {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.anim_right {
    animation: anim-right-to-left 0.75s;
}

@keyframes anim-right-to-left {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.anim_top {
    animation: anim-top-to-bottom 0.75s;
}

@keyframes anim-top-to-bottom {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.anim_bottom {
    animation: anim-bottom-to-top 0.75s;
}

@keyframes anim-bottom-to-top {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}




.container {
    padding: 0 5%;
}


#bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url(../images/g_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    z-index: 1;
}

.splide__arrows,
#splide_main > .splide__pagination:last-child,
.splide_img > .splide__pagination:last-child {
    display: none;
}


.splide_img .splide__arrows {
    display: block;
}

.splide_img .splide__arrows button {
    position: absolute;
    width: 70px;
    height: 92%;
    background: none;
    appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.2s all;
    z-index: 99;
}

.splide_img .splide__arrows button svg {
    display: none;
}

.splide_img .splide__arrows button:first-child {
    top: 0;
    bottom: 0;
    left: 0;

    background-image: url(../images/svg/arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    transform: rotateZ(180deg);
    background-size: 25px;
}

.splide_img .splide__arrows button:last-child {
    top: 0; 
    bottom: 0;
    right: 0;

    background-image: url(../images/svg/arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px;
}

.splide_img .splide__arrows button:disabled {
    opacity: 0;
    visibility: hidden;
}

.splide_img .splide__arrows button:enabled {
    opacity: 1;
    visibility: visible;
}







#root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.header {
    display: flex;
    justify-content: space-between;
    max-height: 157px;
}


.header__nav {
    width: 20%;
    max-width: 325px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__item {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
}

.header__logotypes {
    display: flex;
    align-items: center;
    justify-content: end;
}

.logotypes__logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 30px;
    user-select: none;
}

.logo__text {
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    font-weight: bold;
    margin-right: 20px;
}

.logo__img-g {
    width: 110px;
}

.logo__img-m {
    width: 95px;
    margin-top: 35px;
}

.header-mobile {
    display: flex;
    align-items: center;
    min-width: 25px;
}

.header-mobile__bgc {
    position: fixed;
    width: 40%;
    height: 100%;
    left: -100%;
    z-index: 999;
    transition: 0.3s all;
}

.header-mobile__menu {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    z-index: 99;
    background-color: transparent;
}

.header-mobile__bgc {
    padding-left: 5%;
    padding-top: 5%;
    flex-direction: column;
}

.header-mobile__close {
    outline: none;
    appearance: none;
    border: none;
    background: none;
    margin-bottom: 40px;
    cursor: pointer;
}

.header-mobile__item {
    width: 100%;
    padding: 20px 0;
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto Light', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

/* Backdrop-filter workaround */
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .header-mobile__bgc {
    background: rgba(0, 0, 0, 0.37);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
}

/* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .header-mobile__bgc {
    background-color: rgba(0, 0, 0, .8);
  }
}

[class*='header-mobile'] {
    display: none;
}

#desktop.images {
    display: block;
}

#mobile.images {
    display: none;
}



.footer {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 90px;
    bottom: 0;

    display: flex;
    align-items: start;
}

.footer__socials {
    pointer-events: all;
    width: 160px;
    height: 45px;
}

.socials__text {
    display: block;
    color: #fff;
    font-family: 'Roboto Light', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.socials__link {
    text-decoration: none;
}

.socials__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.socials__icon {
    font-size: 22px;
}

.socials__link:last-child .socials__icon {
    font-size: 26px;
}






.content {
    width: 100%;
    white-space: nowrap;
}

#splide_main-track {
    padding-top: 100px!important;
}

.content__wrapper,
.card__wrapper {
    white-space: normal;
}

.heading,
.cards,
.card {
    display: inline-block;
    vertical-align: top;
    margin: 0 -1px;
}

.card {
    cursor: pointer;
    user-select: none;
    position: relative;
    width: 560px;
    height: 760px;
    border: 1px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
}


.heading {
    max-width: 530px;
    min-width: 530px;
    margin-right: 15%!important;
    margin-top: 175px;
}

#index_splide .splide__track {
    overflow: unset!important;
    padding-top: 100px!important;
}

.heading__title {
    display: block;
    margin-bottom: 30px;
    font-family: 'Roboto Bold', sans-serif;
    font-size: 56px;
    line-height: 1.2;
}

.heading__text {
    display: block;
    margin-bottom: 30px;
    font-family: 'Roboto Light', sans-serif;
    font-size: 14px;
    line-height: 1.3;
}


.heading__button,
.card__button {
    display: inline-block;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 16px;
    padding: 10px 50px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s all;
}

.heading__button:hover,
.card__button:hover {
    color: #000;
    background-color: #fff;
}




/* Showpieces */


#swp_1.card {
    background-image: url(../images/gallery/g_4.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#swp_1.card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.5);
    background-position: center center;
}




#swp_2.card {
    background-image: url(../images/gallery/c_2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#swp_2.card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.5);
    background-position: center center;
}


#swp_3.card {
    background-image: url(../images/gallery/s_1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#swp_3.card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.5);
    background-position: center center;
}






.card__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 35px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__number {
    font-family: 'Roboto Light', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}


.card__title {
    font-family: 'Roboto Medium', sans-serif;
    font-size: 38px;
    text-transform: uppercase;
}

.card__desc {
    display: block;
    width: 80%;
    font-family: 'Roboto Light', sans-serif;
    font-size: 14px;
    line-height: 1.3;
    margin: 30px 0;
}













.shwp {
    white-space: normal;
}

#splide_main .slide__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.description {
    width: 50%;
    max-width: 830px;
    padding-right: 50px;
    white-space: normal;
}

.images {
    position: relative;
    display: block;
    width: 50%;
    max-width: 705px;
    max-height: 830px;
}

.splide__track {
    padding: 0 5px!important;
}

.description__number {
    font-family: 'Roboto Light', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.description__name {
    font-family: 'Roboto Medium', sans-serif;
    font-size: 46px;
    text-transform: uppercase;
    margin: 40px 0;
}

.about__title {
    font-size: 34px;
    display: block;
    width: 90vw;
    margin: 25px 0;
}

.description__par {
    display: block;
    font-family: 'Roboto Light', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    margin: 30px 0;
}

.about {
    padding-top: 70px;
    height: 80vh;
    display: flex;
    justify-content: space-between;
}

.contacts__address {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts__title {
    font-family: 'Roboto Thin', sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    display: block;
}

.address__title,
.address__text {
    font-family: 'Roboto Thin', sans-serif;
    font-size: 14px;
}

.contacts__map {
    max-width: 705px;
    width: 100%;
    height: 460px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.contacts__map iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.about__description {
    align-self: flex-start;
}

.about__contacts {
    align-self: flex-end;
    width: 50%;
    max-width: 705px;
}

.images__item {
    width: 100%!important;
    height: 100%;
    overflow: hidden;
    border: 1px solid #fff;
    border-radius: 10px;
}

.images__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.splide_img__pagination--custom {
    margin-top: 17px!important;
    display: flex;
}

.splide_img__pagination--custom li {
    margin: 0 5px;
}

.splide_img__pagination--custom .splide__pagination__page {
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
    margin: 7px 0;
    cursor: pointer;
    transition: 0.2s all;
}

.splide_img__pagination--custom .splide__pagination__page.is-active {
    background-color: #fff;
}


.splide_main__pagination--custom {
    position: absolute;
    width: 5%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splide_main__pagination--custom button {
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
    margin: 7px 0;
    cursor: pointer;
    transition: 0.2s all;
}


.splide_main__pagination--custom .splide__pagination__page.is-active {
    background-color: #fff;
}
















@media screen and (max-width: 1921px) {
    .card {
        width: 100%;
        height: 650px;
    }

    .heading__title {
        font-size: 48px;
    }

    #splide_main-track {
        padding-top: 60px!important;
    }

    .description__name {
        margin: 20px 0;
        font-size: 42px;
    }

    .about__title {
        font-size: 34px;
    }

    .description__number {
        font-size: 12px;
    }

    .contacts__map {
        width: 650px;
    }

    .about {
        padding-top: 50px;
        height: 75vh;
    }
}







@media screen and (max-width: 1281px) {

    .footer {
        align-items: center;
    }
    
    .logo__img-g {
        width: 90px;
    }

    .logo__img-m {
        width: 75px;
        margin-top: 25px;
    }

    .logo__text {
        font-size: 14px;
    }

    .card {
        height: 500px;
    }

    .heading {
        margin-right: 10%!important;
    }

    .card__number {
        font-size: 10px;
    }

    .card__title,
    .description__name {
        font-size: 28px;
    }

    .card__desc,
    .description__par {
        font-size: 11px;
    }

    .card__button {
        padding: 5px 25px;
        font-size: 12px;
    }

    .splide_img .splide__arrows button:first-child,
    .splide_img .splide__arrows button:last-child {
        background-size: 20px;
    }

    #splide_main-track {
        padding-top: 40px!important;
    }

    .about__title {
        font-size: 24px;
    }

    .contacts__title, .address__title .address__text {
        font-size: 10px;
    }

    .contacts__address {
        width: 50%;
    }

    .contacts__map {
        width: 450px;
        height: 300px;
    }

}



@media screen and (max-width: 1681px) {

    #index_splide .splide__track {

        padding-top: 60px!important;

    }

    .logo__img-g {
        width: 100px;
    }

    .logo__img-m {
        width: 85px;
    }

    .nav__item {
        font-size: 13px;
    }

    .heading {
        margin-top: 70px;
        min-width: 420px;
    }

    .card {
        height: 470px;
    }

    .card__number {
        font-size: 12px;
    }

    .card__title {
        font-size: 26px;
    }

    .card__desc {
        font-size: 12px;
        margin: 15px 0;
    }

    .card__button {
        padding: 8px 35px;
        font-size: 13px;
    }

    .heading__title {
        font-size: 34px;
    }

    .heading__text {
        font-size: 12px;
    }

    .heading__button {
        padding: 8px 35px;
        font-size: 13px;
    }

    .description__name {
        font-size: 34px;
        margin: 10px 0;
    }

    .description__par {
        font-size: 13px;
        margin: 15px 0;
    }

    #splide_main-track {
        padding-top: 40px!important;
    }

    .socials__text {
        font-size: 10px;
    }

    .socials__icon {
        font-size: 18px;
    }

    .socials__link:last-child .socials__icon {
        font-size: 22px;
    }

    .footer__socials {
        width: 135px;
    }

    .footer {
        align-items: center;
    }

    .splide_main__pagination--custom button,
    .splide_img__pagination--custom .splide__pagination__page {
        padding: 4px;
    }

    .splide_img .splide__arrows button:first-child,
    .splide_img .splide__arrows button:last-child {
        background-size: 20px;
    }

    .description__number {
        font-size: 11px;
    }

    .about__title {
        font-size: 28px;
        width: 100%;
    }

    .contacts__map {
        width: 600px;
        height: 400px;
    }

    .about__wrapper {
        width: 600px;
    }

    .about__contacts {
        display: flex;justify-content: end;
    }
    
}

@media screen and (max-width: 1441px) {
    
    #index_splide .splide__track {
        padding-top: 60px!important;
    }

    .heading {
        margin-top: 100px;
        width: 450px!important;
        min-width: 450px!important;
    }

    .card {
        height: 570px;
    }

    .card__title {
        font-size: 32px;
    }

    .card__desc {
        font-size: 12px;
        margin: 20px 0;
    }

    .heading__title {
        font-size: 38px;
    }

    .heading__text {
        font-size: 12px;
    }

    .heading__button,
    .card__button {
        padding: 8px 40px;
        font-size: 14px;
    }

    .logo__img-g {
        width: 100px;
    }

    .logo__img-m {
        width: 85px;
    }

    .socials__text {
        font-size: 11px;
    }

    .socials__icon {
        font-size: 20px;
    }

    .socials__link:last-child .socials__icon {
        font-size: 24px;
    }

    .footer__socials {
        width: 150px;
    }

    .footer {
        align-items: center;
    }

    .nav__item {
        font-size: 12px;
    }

    .description__name {
        font-size: 34px;
        margin: 10px 0;
    }

    .description__number {
        font-size: 10px;
    }

    .description__par {
        font-size: 12px;
        margin: 15px 0;
    }

    .about {
        padding-top: 30px;
    }

    .about__title {
        font-size: 26px;
    }

    .contacts__map {
        width: 500px;
        height: 350px;
    }

    .about__contacts {
        display: flex;
        justify-content: end;
    }

    .contacts__title,
    .address__title
    .address__text {
        font-size: 12px;
    }

}


@media screen and (max-width: 1366px) {

    .card {
        height: 500px;
    }

    #index_splide .splide__track {
        padding-top: 40px!important;
    }

    #splide_main-track {
        padding-top: 30px!important;
    }

    .logo__img-g {
        width: 85px;
    }

    .logo__img-m {
        width: 70px;
        margin-top: 25px;
    }

    .logo__text {
        font-size: 14px;
    }

    .about__contacts {
        width: auto;
        max-width: unset
    }

    .about__wrapper {
        width: auto;
    }
    
}


@media screen and (max-width: 1024px) {

    .header__nav {
        width: 27%;
    }

    .heading {
        width: auto;
        min-width: unset;
    }

    .description {
        padding-right: 50px;
        width: 60%;
    }

    .about__description {
        width: 70%;
    }

    .contacts__map {
        width: 400px;
        height: 270px;
    }

    .description__par {
        font-size: 11px;
    }

    .images {
        width: 40%;
    }
    
}


@media only screen and (max-width: 835px) {
    .header__nav {
        display: none;
    }

    [class*='header-mobile'] {
        display: flex;
    }

    

    body {
        overflow-y: unset!important;
        overflow-x: hidden !important;
    }

    #splide_main {
        width: 100%;
        height: 100%;
        min-height: 100%;
        overflow: scroll;
    }

    #bg {
        position: fixed;
    }

    #desktop.images {
        display: none;
    }

    #mobile.images {
        display: block;
    }

    .description {
        width: 100%;
        display: block;
        padding: 0;
    }

    #splide_main-list > * {
        flex-shrink: unset;
    }

    #splide_main-list {
        flex-direction: column;
    }

    .images {
        width: unset;
    }

    .splide_img .splide__arrows button {
        height: 100%;
    }
}


@media only screen and (max-width: 835px) and (orientation: portrait) {

    .card {
        height: 700px;
    }

    .heading {
        margin-top: 150px;
    }

    .footer {
        display: none;
    }
    .description__number {
        font-size: 13px;
    }

    #mobile.images {
        margin: 20px 0 70px;
    }

    .description__par {
        font-size: 18px;
    }

    .description__number {
        font-size: 14px;
    }

    .description__name {
        font-size: 38px;
    }

    #splide_main-list > * {
        margin-bottom: 150px;
    }

    #splide_main-list > *:last-child {
        margin-bottom: 0;
    }

    .about {
        flex-direction: column;
    }

    .about__contacts {
        margin-top: 100px;
    }

    .about__contacts,
    .about__wrapper,
    .contacts__map {
        width: 100%;
    }

    .contacts__map {
        height: 400px;
        max-width: unset;
    }

    .contacts__title, .address__title, .address__text {
        font-size: 16px;
    }

}



@media only screen and (width: 1366px) and (height: 1024px) {

    .content {
        padding-top: 100px;
    }

}



@media only screen and (max-width: 600px) {
    #mobile.images {
        margin-bottom: 30px;
    }

    .about__title {
        font-size: 32px;
    }

    .header-mobile__burger img,
    .header-mobile__close img {
        width: 35px;
    }

    .heading {
        margin-right: 70px !important;
    }
}
